<h1>Assist Purchase Portal</h1>
<h2>   Available Products</h2>
<head>
  <style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
  padding: 15px;
}

 

  </style>
  </head>
<body>
<table style="width:10%"  style="background-color:honeydew">
  <tr>
    <th>ProductName</th>
    <th>Id</th> 
    <th>ProductSeries</th>
    <th>ProductModel</th>
    <th>ScreenSize</th> 
    <th>Weight</th>
    <th>Portable</th>
    <th>MonitorResolution</th> 
    <th>Measurement</th>
  </tr>
<tr *ngFor="let prods of list">

 


  <td>{{prods.productName }}</td>
  <td>{{prods.id}}</td>
  <td>{{prods.productSeries}}</td> 
  <td>{{prods.productModel}}</td>
  <td>{{prods.screenSize}}</td>
  <td>{{prods.weight}}</td>
  <td>{{prods.portable}}</td>
  <td>{{prods.monitorResolution}}</td>
  <td>{{prods.measurement}}</td>

 


</tr>
</table>
<hr>
<button (click)="onSubmit()" class="button_css">Back</button>
<button (click)="onSubmit2()"  class="button_css">Add Product</button>
<button (click)="onSubmit3()"  class="button_css">Update Product</button>
<button (click)="onSubmit5()"  class="button_css">Delete Product</button>
<button (click)="onSubmit4()"  class="button_css">Customer Details</button>
