<h1>Assist Purchase Portal</h1>
<h2>Our Products</h2>
<div>
    <table>
        <tr>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="../../assets/ProductImages/IntelliVueX3.PNG" alt="IntellivueX3">
                    <figcaption>IntellivueX3</figcaption>
                </figure>
            </td>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="../../assets/ProductImages/IntelliVue MX40.PNG" alt="IntellivueMX40">
                    <figcaption>IntellivueMX40</figcaption>
                </figure>
            </td>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="../../assets/ProductImages/IntelliVueMP5.PNG" alt="IntelliVueMP5.PNG">
                    <figcaption>IntelliVueMP5</figcaption>
                </figure>    
            </td>
        </tr>
        <tr>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="../../assets/ProductImages/IntelliVue MMS X2.PNG" alt="IntellivueMMSX2"> 
                    <figcaption>IntellivueMMSX2</figcaption>
                </figure>
            </td>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="../../assets/ProductImages/IntelliVue MP2.PNG" alt="IntellivueMP2">
                    <figcaption>IntellivueMP2</figcaption>
                </figure>
            </td>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="../../assets/ProductImages/IntelliVue MX500.PNG" alt="IntellivueMX500">
                    <figcaption>IntellivueMX500</figcaption>
                </figure>
            </td>
        </tr>
        
        <tr>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="../../assets/ProductImages/IntelliVue MX450.PNG" alt="IntelliVue MX450.PNG">
                    <figcaption>IntelliVue MX450</figcaption>
                </figure>
            </td>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="../../assets/ProductImages/IntelliVue MX750.PNG" alt="IntelliVue MX750">
                    <figcaption>IntelliVue MX750</figcaption>
                </figure>
            </td>
            <td>
                <figure>
                    <img width="300px" height="300px" src="../../assets/ProductImages/IntelliVue MX700.PNG" alt="IntelliVue MX700">
                    <figcaption>IntelliVue MX700</figcaption>
                </figure>
            </td>
        </tr>
        
        <tr>
            <td>
                <figure>
                    <img width="300px" height="300px" src="../../assets/ProductImages/Efficia CM Series.PNG" alt="Efficia CM Series">
                    <figcaption>Efficia CM Series</figcaption>
                </figure>
            </td>
            <td>
                <figure>
                    <img width="300px" height="300px" src="../../assets/ProductImages/Goldway G40E G40E.PNG" alt="Goldway G40E G40E">
                    <figcaption>Goldway G40E G40E</figcaption>
                </figure>
            </td>
        </tr>
    </table>
    
    
    
</div>
<button (click)="onSubmit()" class="button_css">Need Support</button>
<button (click)="onSubmit2()" class="button_css">Admin Access</button>